
@import url('https://pro.fontawesome.com/releases/v6.0.0-beta3/css/all.css');
/*================*/
.header{padding:15px;box-shadow:0 0 15px 10px rgba(0,0,0,.1);}

.error_message{color:red;text-align:left;}
span.link{cursor:pointer;color:#5c73ec;}

.tr-click{cursor:pointer;}
.tr-click:hover{background:#f0f0f0;}

/*======= antd componet modify ========*/
.ant-label{font-weight:600;margin-bottom:7px;}
.ant-card{box-shadow:0 0 15px 10px rgba(0,0,0,.1);}
.ant-calendar-picker{width:100%;}
.ant-btn-icon-only > i{vertical-align:top;}
.ant-calendar-range-picker-input{text-align:left;}
/*=== quil text editor =====*/
.quillWrapper .ql-container .ql-editor{min-height:inherit;height:175px;}


